@font-face {
  font-family: angeltoes;
  src: url('angeltoes.ttf');
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  font-family: angeltoes;
  font-weight: bold;
  font-size: large;
}

.calendar {
  width: 60%;
  height: 100%;
  color: #808BA2;
  margin: 1%;
}

.calendar-day {
  width: 14%;
  height: 7vh;
  padding-top: 3vh;
  border-top: 1px solid #dbdada;
  border-left: 1px solid #dbdada;
  color: #B287DD;
}

.calendar-day.disabled {
  color: #bbbbbb;
}

.calendar-day:last-child {
  border-right: 1px solid #dbdada;
}

.calendar-row:last-child > .calendar-day {
  border-bottom: 1px solid #dbdada;
}

.calendar-day-name {
  width: 14%;
  height: 5vh;
}

.calendar-today {
  background: #B287DD;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px #B287DD;
  z-index: 1;
}

.month-selector {
  width: 100%;
  height: 10%;
  display: flex;
}

.month-selector img:first-child {
  float: left;
}

.month-selector img:last-child {
  float: right;
}

.month-selector img:first-child,
.month-selector img:last-child {
  margin-top: 1vh;
  height: 5vh;
  cursor: pointer;
}

.month-selector > div {
  flex-grow: 1;
  margin-top: 2.5vh;
}

.sidepanel {
  width: 40%;
  height: 100%;
  background: #373C4F;
  color: white;
}

.sidepanel-info {
  display: flex;
  height: 12vh;
  align-items: center;
}

.sidepanel-info > div {
  flex-grow: 1;
}

.sidepanel-info > div:first-child {
  font-size: xx-large;
}

.sidepanel-info > div:last-child {
  color: #7781a3;
}


.flex {
  display: flex;
}