@font-face {
  font-family: angeltoes;
  src: url('angeltoes.ttf');
}

textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 3px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  font-family: angeltoes;
  font-weight: bold;
  font-size: large;
  overflow-y: hidden;
  overflow-x: hidden;
}

.App-loading {
  width: 100%;
  text-align: center;
  font-family: angeltoes;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 40vh;
  color: rgb(37, 42, 61);
}

.calendar {
  width: 60%;
  height: 100%;
  color: #808BA2;
  margin: 1%;
}

.calendar-day {
  width: 14%;
  height: 10vh;
  border-top: 1px solid #dbdada;
  border-left: 1px solid #dbdada;
  color: #B287DD;
  font-size: x-large;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.calendar-day:hover {
  cursor: pointer;
  font-size: xx-large;
}

.calendar-day.disabled {
  color: #bbbbbb;
}

.calendar-day:last-child {
  border-right: 1px solid #dbdada;
}

.calendar-row:last-child > .calendar-day {
  border-bottom: 1px solid #dbdada;
}

.calendar-day-name {
  width: 14%;
  height: 6vh;
  border-left: 1px solid #dbdada;
  background: radial-gradient(#e0e0e0, #FFFFFF 55%);
  justify-content: center;
  align-items: center;
  display: flex;
}

.calendar-day-name:last-child {
  border-right: 1px solid #dbdada;
}

.calendar-day-focused {
  background: #efe4f5;
  font-size: xx-large;
  box-shadow: inset 0 0 6px 2px #754783;
}

.calendar-day-tasks {
  width: 90%;
  height: 1vh;
  display: flex;
  border-radius: 2px;
}

.calendar-day-tasks > div {
  flex-grow: 1;
}

.calendar-day-tasks > div:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.calendar-day-tasks > div:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.calendar-day-task-shadow {
  box-shadow: 0 0 2px 1px #442a4d;
}

.calendar-today {
  background: #B287DD;
  color: white;
  font-size: xx-large;
}

.week-number {
  width: 10%;
  height: 10vh;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.calendar-row.weeks > .week-number {
  display: flex;
}

.calendar-row.weeks > .calendar-day,
.calendar-day-name.weeks {
  width: 13%;
}

.calendar-day-name.weeks:first-child {
  width: 10%;
  border-left: none;
  background: none;
}

.month-selector {
  width: 100%;
  height: 10%;
  display: flex;
}

.month-selector img:first-child {
  float: left;
}

.month-selector img:last-child {
  float: right;
}

.month-selector img:first-child,
.month-selector img:last-child {
  margin-top: 1vh;
  height: 5vh;
  cursor: pointer;
}

.month-selector > div {
  flex-grow: 1;
  margin-top: 2.5vh;
}

.sidepanel {
  width: 40%;
  height: 100%;
  background: #373C4F;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidepanel-info {
  display: flex;
  height: 12vh;
  align-items: center;
}

.sidepanel-info > div {
  flex-grow: 1;
}

.sidepanel-info > div:first-child {
  font-size: xx-large;
}

.sidepanel-info > div:last-child {
  color: #7781a3;
}

.sidepanel-tasks {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidepanel-controls {
  position: fixed;
  bottom: 10px;
  width: 38%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.sidepanel-controls > img {
  height: 100%;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.task:nth-child(odd) {
  background: linear-gradient(to right, rgb(83, 92, 116), #373C4F)
}

.task {
  width: 100%;
  height: 7vh;
  display: flex;
}

.task:hover {
  cursor: pointer;
}

.task-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: left;
  padding-left: 5%;
}

.task-bubble {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px #442a4d;
  margin-left: 5%;
  float: left;
  align-self: center;
}

.task.completed {
  text-decoration: line-through;
}

.task-title {
  text-overflow: ellipsis;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.task-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5%;
  visibility: hidden;
  float: right;
}

.task-controls > img {
  height: 30%;
  width: auto;
  align-self: center;
}

.task:hover > .task-controls {
  visibility: visible;
}

.modal-close {
  height: 7vh;
  width: 100%;
}

.modal-close > img {
  cursor: pointer;
  height: 100%;
  width: auto;
  float: right;
}

.ReactModal__Content {
  background: #373C4F !important;
  color: white;
  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.task-details {
  flex-flow: column;
}

.task-details > div {
  margin-bottom: 10px;
}

.task-details-title {
  text-align: center;
}

.task-details-description > div {
  max-height: 35vh;
  overflow-y: auto;
}

.task-details-controls {
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dbdada;
  border-bottom: 1px solid #dbdada;
  position: absolute;
  bottom: 10px;
  width: 90%;
  align-self: center;
}

.task-details-controls > div {
  width: 25%;
  text-align: center;
  border-left: 1px solid #dbdada;
  cursor: pointer;
}

.task-details-controls > div:first-child {
  border-left: none;
}

.new-task-form {
  font-family: angeltoes;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-flow: column;
}

.new-task-form > div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.new-task-form > div > span {
  width: 100px;
}

.new-task-form > div > input,
.new-task-form > div > textarea,
.new-task-form > div > div,
.new-task-form > div > select{
  flex-grow: 1;
  margin-left: 10px;
}

.new-task-category > div {
  height: 1.5rem;
  margin: 0px !important;
  display: flex;
  justify-content: flex-end;
}

.new-task-category > div > img {
  height: 100%;
  cursor: pointer;
}

.new-task-form > div > textarea {
  height: 25vh;
  resize: none;
  overflow-y: auto;
  overflow-x: none;
  flex-grow: 1;
}

.new-task-controls,
.settings-controls {
  border-top: 1px solid #dbdada;
  border-bottom: 1px solid #dbdada;
  position: absolute;
  bottom: 10px;
  align-self: center;
  width: 100%;
}

.new-task-controls > div,
.settings-controls > div {
  text-align: center;
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-right: 1px solid #dbdada;
  flex-grow: 1;
}

.new-task-controls > div:last-child,
.settings-controls > div:last-child {
  border-right: none;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-title {
  align-self: center;
  margin-bottom: 10px;
}

.settings-items > div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.settings-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.settings-items > div > span {
  width: 30%;
}

.flex {
  display: flex;
}

.success-color {
  color: #3cda49 !important;
}

.failure-color {
  color: #ff4b4b !important;
}

.edit-color {
  color: #eae85c;
}

@media all and (max-width: 1000px) {
  .ReactModal__Content {
    left: 0px !important;
    right: 0px !important;
    width: 65% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media all and (max-width: 720px) {
  .ReactModal__Content {
    width: 80% !important;
  }

  .App {
    flex-direction: column;
    overflow-y: auto;
    height: auto;
  }

  .calendar,
  .sidepanel,
  .sidepanel-controls {
    width: 100%;
  }

  .sidepanel {
    height: 100vh;
  }
}