@font-face {
  font-family: angeltoes;
  src: url('angeltoes.ttf');
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  font-family: angeltoes;
  font-weight: bold;
  font-size: large;
  overflow-y: hidden;
}

.calendar {
  width: 60%;
  height: 100%;
  color: #808BA2;
  margin: 1%;
}

.calendar-day {
  width: 14%;
  height: 7vh;
  padding-top: 3vh;
  border-top: 1px solid #dbdada;
  border-left: 1px solid #dbdada;
  color: #B287DD;
  font-size: x-large;
}

.calendar-day:hover {
  cursor: pointer;
  font-size: xx-large;
}

.calendar-day.disabled {
  color: #bbbbbb;
}

.calendar-day:last-child {
  border-right: 1px solid #dbdada;
}

.calendar-row:last-child > .calendar-day {
  border-bottom: 1px solid #dbdada;
}

.calendar-day-name {
  width: 14%;
  height: 5vh;
}

.calendar-day-focused {
  background: #efe4f5;
  font-size: xx-large;
  box-shadow: inset 0 0 6px 2px #754783;
}

.calendar-today {
  background: #B287DD;
  color: white;
  font-size: xx-large;
}

.month-selector {
  width: 100%;
  height: 10%;
  display: flex;
}

.month-selector img:first-child {
  float: left;
}

.month-selector img:last-child {
  float: right;
}

.month-selector img:first-child,
.month-selector img:last-child {
  margin-top: 1vh;
  height: 5vh;
  cursor: pointer;
}

.month-selector > div {
  flex-grow: 1;
  margin-top: 2.5vh;
}

.sidepanel {
  width: 40%;
  height: 100%;
  background: #373C4F;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidepanel-info {
  display: flex;
  height: 12vh;
  align-items: center;
}

.sidepanel-info > div {
  flex-grow: 1;
}

.sidepanel-info > div:first-child {
  font-size: xx-large;
}

.sidepanel-info > div:last-child {
  color: #7781a3;
}

.task:nth-child(odd) {
  background: linear-gradient(to right, rgb(83, 92, 116), #373C4F)
}

.task {
  width: 100%;
  height: 7vh;
  display: flex;
}

.task:hover {
  cursor: pointer;
}

.task-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: left;
  padding-left: 5%;
}

.task-content > div {
  text-overflow: ellipsis;
}

.task-bubble {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px #442a4d;
  margin-left: 5%;
  float: left;
  align-self: center;
}

.task.completed {
  text-decoration: line-through;
}

.task-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15%;
  visibility: hidden;
  float: right;
}

.task-controls > img {
  height: 30%;
  width: auto;
  align-self: center;
}

.task:hover > .task-controls {
  visibility: visible;
}

.flex {
  display: flex;
}